/* CSS Reset */

* {
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100vh;
    overflow: hidden;
    font-size: 10px;
}

@font-face {
    font-family: Inter;
    src: url(./fonts/Inter-VariableFont_slnt\,wght.ttf);
}


/* Layout */


.gameContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

.gridContainer {
    height: 100%;

    display: grid;

    grid-template: repeat(3, 14rem) / repeat(3, 14rem);

    justify-content: center;
    align-content: center;

}

.tile {
    width: 14rem;
    height: 14rem;
    border: 1px solid black;
    font-size: 9rem;
    text-align: center;
    font-family: Inter;
}

p {
    font-size: 2rem;
}

